<div class="d-flex justify-content-between flex-wrap text-white flex-md-nowrap align-items-center pl-5 pt-3 pb-2 mb-3 border-bottom">
					<h1 class="titulo">Roles</h1>
				</div>
				<section class="row">
							<button> <i class="fas fa-plus iconButton"></i> Agregar</button>
							<button> <i class="fas fa-trash-alt iconButton"></i> Borrar</button>
							<button> <i class="fas fa-edit iconButton"></i> Editar</button>
							<input class="buscarButton" type="text" name="buscar" placeholder="Buscar">
						</section>
					<div class="container">
						<section class="row mb-3">
							<div class="col col-md-4"></div>
						</section>
						<section class="row">
							<table class="table">
							  <thead>
							    <tr>
							      <th scope="col">Nombre</th>
							      <th scope="col">Módulos</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr>
							      <td>Administrador general</td>
							     <td>Todos</td>
							    </tr>
							    <tr>
							      <td>Planeación</td>
							      <td>Planeación</td>
							    </tr>
							    <tr>
							      <td>Inventario</td>
							      <td>Inventario</td>
							    </tr>
							  </tbody>
							</table>
						</section>
					</div>
