<div class="d-flex justify-content-between flex-wrap text-white flex-md-nowrap align-items-center pl-5 pt-3 pb-2 mb-3 border-bottom">
					<h1 class="titulo">Formato 911 BT</h1>
				</div>
					<div class="container">
						<section class="row">
<div class="card w-100 bg-light" >
						  <div class="card">
						    <div class="card-body">
						      <h5 class="card-title">Selecione el criterio general del formato</h5>
						       <select class="form-control">
							  <option>Carrera</option>
							  <option>Plantel</option>
							</select> 
						    </div>
						  </div>
	
    <h5 class="card-title titulo5" class="form-control">Pregunta 1</h5><textarea class="textBox"> </textarea>
							<div class="card-deck mb-4 mt-4">
						  <div class="card">
						    <div class="card-body">
						      <h5 class="card-title">Selecione el objeto</h5>
						       <select class="form-control">
							  <option>Alumnos</option>
							  <option>Personal</option>
							  <option>Mobiliario</option>
							</select> 
						      <h5 class="card-title">Selecione el criterio general</h5>
 							<select class="form-control">
							  <option>Calificación</option>
							  <option>Becados</option>
							  <option>Sexo</option>
							</select> 
							<select class="form-control">
							  <option>Reprobado</option>
							  <option>Aprobado</option>
							</select> 
							<!--<input type="number" min="5" class="form-control">-->
						    </div>
						  </div>
						  <div class="card">
						    <div class="card-body mb-3">
						      <h5 class="card-title">Seleccione la fila</h5>
						      <select class="form-control">
							  <option>Grado</option>
							  <option>Sexo</option>
							</select> 
						    </div>
						  </div>
						  <div class="card">
						    <div class="card-body mb-3">
						      <h5 class="card-title">Seleccione las columnas</h5>
						      <select class="form-control" multiple>
							  <option>Sexo</option>
							  <option>Indigena</option>
							  <option>Discapacidad</option>
							</select> 
						    </div>
						  </div>
						</div>
<div class="card w-100">
    <h5 class="card-title  titulo5" class="form-control">Pregunta 2</h5><textarea class="textBox"> </textarea>
							<div class="card-deck mt-4">
						  <div class="card">
						    <div class="card-body">
						      <h5 class="card-title">Selecione el objeto</h5>
						       <select class="form-control">
							  <option>Alumnos</option>
							  <option>Personal</option>
							  <option>Mobiliario</option>
							</select> 
						      <h5 class="card-title">Selecione el criterio general</h5>
 							<select class="form-control">
							  <option>Calificación</option>
							  <option>Becados</option>
							  <option>Sexo</option>
							</select> 
							<select class="form-control">
							  <option>Menor</option>
							  <option>Menor igual</option>
							  <option>Igual</option>
							  <option>Mayor</option>
							  <option>Mayor igual</option>
							</select> 
						    </div>
						  </div>
						  <div class="card">
						    <div class="card-body mb-3">
						      <h5 class="card-title">Seleccione la fila</h5>
						      <select class="form-control">
							  <option>Grado</option>
							  <option>Sexo</option>
							</select> 
						    </div>
						  </div>
						  <div class="card">
						    <div class="card-body mb-3">
						      <h5 class="card-title">Seleccione las columnas</h5>
						      <select class="form-control" multiple>
							  <option>Sexo</option>
							  <option>Indigena</option>
							  <option>Discapacidad</option>
							</select> 
						    </div>
						  </div>
						</div>
<div class="card w-100">
<i class="fas fa-plus iconPlus"></i>
</div>
