				<div class="d-flex justify-content-between flex-wrap text-white flex-md-nowrap align-items-center pl-5 pt-3 pb-2 mb-3 border-bottom">
					<h1 class="titulo">Detalle Calificaciones</h1>
				</div>
					<div class="container">
						<section class="row">
							<button> <i class="fas fa-file-import iconButton"></i> Importar Excell</button>
							<button> <i class="fas fa-trash-alt iconButton"></i> Borrar</button>
							<button> <i class="fas fa-download iconButton"></i>Descargar</button>
							<input class="buscarButton" type="text" name="buscar" placeholder="Buscar">
						</section>
						<section class="row">
							<table class="table">
							  <thead>
							    <tr>
							      <th scope="col">Tipo</th>
							      <th scope="col">Fecha</th>
							      <th scope="col">Ciclo Escolar</th>
							      <th scope="col">Registros</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr>
							      <td>Detalle Calificación</td>
							      <td>domingo, 9 de septiembre de 2018</td>
							      <td>2018-2019</td>
							      <td>3123</td>
							    </tr>
							    <tr>
							      <td>Plantilla profesores</td>
							      <td>domingo, 9 de septiembre de 2018</td>
							      <td>2018-2019</td>
							      <td>212</td>
							    </tr>
							    <tr>
							      <td>Plantilla profesores</td>
							      <td>domingo, 9 de septiembre de 2018</td>
							      <td>2018-2019</td>
							      <td>1000</td>
							    </tr>
							  </tbody>
							</table>
						</section>
					</div>

