				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="titulo">Generar Formato</h1>
					</h1>
				</div>
					<div class="card-deck mb-4 mt-4">
						  <div class="card">
						    <div class="card-body mb-3">
						      <h5 class="card-title">Selecciona el formato y el ciclo escolar</h5>
						      <select class="form-control">
							      <option>911 BT PLANTEL</option>
							      <option>911 BT CARRERA</option>
						      </select>
	
						      <select class="form-control">
							      <option>2018-2019</option>
							      <option>2017-2018</option>
						      </select>
						      <button> <i class="fas fa-download iconButton"></i>Descargar</button>
						    </div>
						</div>
						</div>
