				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="titulo">Inicio</h1>
					</h1>
				</div>
					<div class="card-deck mb-4 mt-4">
						  <div class="card">
						    <div class="card-body mb-3">
						      <h5 class="card-title">Registros en calificaciones</h5>
						      <h6>12082</h6>
						    </div>
						  </div>
						  <div class="card">
						    <div class="card-body mb-3">
						      <h5 class="card-title">Registros en inventario</h5>
						      <h6>1321</h6>
						    </div>
						  </div>
						</div>
