<div class="d-flex justify-content-between flex-wrap text-white flex-md-nowrap align-items-center pl-5 pt-3 pb-2 mb-3 border-bottom">
					<h1 class="titulo">Salón de cómputo</h1>
				</div>
					<div class="container">
						<section class="">
<div class="card w-100 bg-light" >
	
    <h5 class="card-title titulo5" class="form-control">Mobiliario </h5>
							<div class="card-deck mb-4 mt-4">
						  <div class="card">
						    <div class="card-body">
						      <h5 class="card-title">Selecione el mobiliario</h5>
						       <select class="form-control mb-3">
							  <option>Computadora Genérica</option>
							  <option>Mesa 2X2</option>
							</select>
							<input type="text" class="form-control">
						    </div>
						</div>
						  <div class="card">
						    <div class="card-body">
						      <h5 class="card-title">Selecione el mobiliario</h5>
						       <select class="form-control mb-3">
							  <option>Computadora Genérica</option>
							  <option>Mesa 2X2</option>
							</select>
							<input type="text" class="form-control">
						    </div>
						</div>
<
</div>
<i class="fas fa-plus iconPlus"></i>
</div>
